body {
    text-align: center;
    font-family: Arial;
    background-color: #f4f4f4;
}

#game {
    width: 400px;
    height: 500px;
    border: 3px solid black;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: white;
}

#player {
    position: absolute;
    bottom: 10px;
    left: 180px;
    font-size: 40px;
}

.item {
    position: absolute;
    top: 0;
    font-size: 30px;
}

.hidden {
    display: none;
}
